<% if params[:plan] == '3' %>
<div class="container-fluid view">
  <div class="full-bg-img flex-center">
  </div>
<% else %>
<div class="container-fluid">
<% end %>
  <div class="row">
    
    
    <div class="col-md-4 col-md-offset-6">
      <div class="text-center">
        <% if params[:plan] == '2' %>
          <h1>Pro Account</h1>
          <h3>Sign up for the pro account for $10/month and gain access to the community, priority search, and contact information.</h3>
        <% elsif params[:plan] == '3' %>
          <h1>John Cena Account</h1>
          <h3>Sign up for the John Cena account and become a literal god for $50/month. Gain access to the community, priority search, contact information, and become John Cena himself.</h3>
        <% else %>
          <h1>Basic Account</h1>
          <h3>Sign up for the free basic account and gain access to the community</h3>
        <% end %>
      </div>
      
      <div class="well">
        <h2>Sign Up</h2>
        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% elsif params[:plan] == '3' %>
          <%= render "cena_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
        <%= render "devise/shared/links"%>
      </div>
    </div>
  </div>
</div>


