<div class="home-callout text-center container-fluid">
    <h1>Welcome to DevMatch</h1>
    <h3>A membership matchmaking site where entrepreneurs can meet developers</h3>
</div>

<div class="container home-signup-links">
    <div class="row">
        <div class="col-md-4">
            <div class="well">
                <h2 class="text-center">Basic Membership</h2>
                <br>
                <h4>Sign up for free and get basic access to the community.</h4>
                
                <%= link_to "Sign up with Basic - FREE", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-info btn-lg btn-block align-bottom' %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h2 class="text-center">Pro Membership</h2>
                <br>
                <h4>Sign up for pro account for $10/month and gain access to the community, priority search, and contact information.</h4>
                
                
                <%= link_to "Sign up with Pro - $10/month", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-primary btn-lg btn-block align-bottom' %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h2 class="text-center">John Cena Membership</h2>
                <br>
                <h4>Sign up for our exclusive John Cena plan for $50/month and literally become John Cena because who wouldn't hire him as a developer. In addition, you gain the benefits of our Pro Membership.</h4>
                <%= link_to "Sign up with John Cena - $50/month", new_user_registration_path(plan: @JohnCena_plan.id), class: 'btn btn-success btn-lg btn-block align-bottom' %>
            </div>
        </div>
    </div>
    <%= link_to "Create your profile", new_user_profile_path(user_id: current_user.id) if user_signed_in? %>
</div>